streamlit
requests

if response.status_code == 200:
            result = response.json()
            prediction = result.get('predicted_status')
            probability = result.get('probability', 'N/A')
            if prediction == 1:
                st.markdown(f'<div class="prediction-box prediction-default">Prediction: Default<br>Probability: {probability}</div>', unsafe_allow_html=True)
            else:
                st.markdown(f'<div class="prediction-box prediction-fully-paid">Prediction: Fully Paid<br>Probability: {probability}</div>', unsafe_allow_html=True)
        else:
            st.error(f"Error: {response.status_code}")
            st.error(f"Response Content: {response.text}")